{{define "title"}}Change Password{{end}} {{define "main"}}
<div class="min-height">
  <button onclick="window.history.back()" class="go-back-btn">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 512 512"
      height="22px"
      width="22px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"
      ></path>
    </svg>
    <span>Go Back </span>
  </button>

  <div class="change-p">
    <h1 class="title">Change Password</h1>
    <form
      action="/change-password"
      method="POST"
      class="change-p-container"
      onsubmit="disableButton()"
    >
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <div class="change-p-wrapper">
        <label>Account Password</label>
        <input
          type="password"
          placeholder="Enter your current password"
          name="password"
        />
        {{with .Form.FieldErrors.password}}
        <p class="error">{{.}}</p>
        {{end}}
      </div>
      {{range .Form.NonFieldErrors}}
      <p class="error" style="text-align: center">{{.}}</p>
      {{end}}
      <button type="submit" id="submit-button" class="change-p-buttons">
        Submit
      </button>
    </form>
  </div>
</div>
{{end}}
