{{define "title"}}forgot-password{{end}} {{define "main"}}
<div class="user-sign min-height">
  <h1 class="title">Forgot Password</h1>
  <form action="/forgot-password" method="POST" onsubmit="disableButton()">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div class="data">
      <label>Enter registered email:</label>
      {{with .Form.FieldErrors.email}}
      <label class="error">{{.}}</label>
      {{end}}
      <input type="email" name="email" placeholder="Registered email" />
    </div>

    {{range .Form.NonFieldErrors}}
    <label class="error" style="text-align: center">{{.}}</label>
    {{end}}

    <button class="button" type="submit" id="submit-button">Proceed</button>

    <div class="u-redir">
      <p>go back to <a href="/login">Login </a></p>
    </div>
  </form>
</div>
{{end}}
