{{define "title"}}Update Password{{end}} {{define "main"}}
<div class="change-p min-height">
  <h1 class="title">Reset Password</h1>
  <form
    action="/forgot-reset-password/{{.Form.UserID}}"
    method="POST"
    class="change-p-container"
    onsubmit="disableButton()"
  >
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div class="change-p-wrapper">
      <label>New password</label>

      <input type="password" placeholder="Enter new Password" name="password" />
      <p class="error">{{with .Form.FieldErrors.password}} {{.}} {{end}}</p>
    </div>
    <div class="change-p-wrapper">
      <label>Re-type new password</label>

      <input
        type="password"
        placeholder="Re-type new password"
        name="reTypePassword"
      />
      <p class="error">
        {{with .Form.FieldErrors.reTypePassword}} {{.}} {{end}}
      </p>
    </div>
    <button type="submit" id="submit-button" class="change-p-buttons">
      Reset
    </button>
  </form>
</div>
{{end}}
