{{define "title"}}profile page {{end}} {{define "main"}}

<div class="profile-wrapper">
  <button onclick="window.history.back()" class="go-back-btn">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 512 512"
      height="22px"
      width="22px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"
      ></path>
    </svg>
    <span>Go Back </span>
  </button>
  <div class="profile">
    <h1 class="title">Profile</h1>
    <div class="p-container">
      <div class="p-input-wrapper">
        <label>First Name</label>
        <div>
          <input value="{{.User.FirstName}}" readonly />
        </div>
      </div>
      <div class="p-input-wrapper">
        <label>Last Name</label>
        <div>
          <input value="{{.User.LastName}}" readonly style="width: 100%" />
        </div>
      </div>
      <div class="p-input-wrapper">
        <label>Email</label>
        <div>
          <input value="{{.User.Email}}" readonly />
        </div>
      </div>
      <div class="p-buttons">
        <a href="/update-profile/{{.User.ID}}" class="a-update"
          >Update Profile</a
        >
        <a href="/change-password" class="a-change-p">Change Password</a>
      </div>
    </div>
  </div>
</div>

{{end}}
