{{define "title"}}Update Snippet{{end}} {{define "main"}}
<div class="add-snippet min-height">
  <button
  onclick="window.history.back()"
  class="go-back-btn"
  style="align-self: self-start"
>
  <svg
    stroke="currentColor"
    fill="currentColor"
    stroke-width="0"
    viewBox="0 0 512 512"
    height="22px"
    width="22px"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z"
    ></path>
  </svg>
  <span>Go Back </span>
</button>
  <h4>Update Snippet</h4>
  
  <form class="add-snippet-form" action="/update-snippet/{{.Snippet.ID}}" method="POST" onsubmit="disableButton()">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <input type="text" name="userId" hidden value="{{.Snippet.UserId}}">
    <div class="option">
      <label>Title:</label>
      <!-- Use the `with` action to render the value of .Form.FieldErrors.title if it is not empty. -->
      {{with .Form.FieldErrors.title}}
      <label class="error">{{.}}</label>
      {{end}}

      <input type="text" name="title" value="{{.Snippet.Title}}" />
    </div>

    <div class="option">
      <label>Content:</label>
      {{with .Form.FieldErrors.content}}
      <label class="error">{{.}}</label>
      {{end}}

      <textarea id="c" name="content">{{.Snippet.Content}}</textarea>
    </div>

    <div class="visibility">
      <label for="visibility">Visibility:</label>
      {{with .Form.FieldErrors.visibility}}
      <label class="error">{{.}}</label>
      {{end}}
      <select name="visibility" id="visibility">
        <option value="private" {{ if eq .Snippet.Visibility "private" }} selected {{ end }}>Private </option>
        <option value="public" {{ if eq .Snippet.Visibility "public" }} selected {{ end }}>Public </option>
      </select>
    </div>

    <div class="language-container">
      <label>Language:</label>
      {{with .Form.FieldErrors.language}}
      <label class="error">{{.}}</label>
      {{end}}

      <div class="language">
        <div class="language-radio">
          <input type="radio" name="language" value="html" {{ if eq .Snippet.Language "html" }} checked {{ end }} />Html
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="css" {{ if eq .Snippet.Language "css" }} checked {{ end }} />Css
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="htmx" {{ if eq .Snippet.Language "htmx" }} checked {{ end }} />Htmx
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="php" {{ if eq .Snippet.Language "php" }} checked {{ end }} />Php
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="jsx" {{ if eq .Snippet.Language "jsx" }} checked {{ end }} />Jsx
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="javascript" {{ if eq .Snippet.Language "javascript" }} checked {{ end }} />JavaScript
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="typescript" {{ if eq .Snippet.Language "typescript" }} checked {{ end }} />TypeScript
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="go" {{ if eq .Snippet.Language "go" }} checked {{ end }} />Go
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="python" {{ if eq .Snippet.Language "python" }} checked {{ end }} />Python
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="java" {{ if eq .Snippet.Language "java" }} checked {{ end }} />Java
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="c" {{ if eq .Snippet.Language "c" }} checked {{ end }} />C
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="cpp" {{ if eq .Snippet.Language "cpp" }} checked {{ end }} />C++
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="csharp" {{ if eq .Snippet.Language "csharp" }} checked {{ end }} />C#
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="swift" {{ if eq .Snippet.Language "swift" }} checked {{ end }} />Swift
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="ruby" {{ if eq .Snippet.Language "ruby" }} checked {{ end }} />Ruby
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="kotlin" {{ if eq .Snippet.Language "kotlin" }} checked {{ end }} />Kotlin
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="r" {{ if eq .Snippet.Language "r" }} checked {{ end }} />R
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="rust" {{ if eq .Snippet.Language "rust" }} checked {{ end }} />Rust
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="dart" {{ if eq .Snippet.Language "dart" }} checked {{ end }} />Dart
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="perl" {{ if eq .Snippet.Language "perl" }} checked {{ end }} />Perl
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="matlab" {{ if eq .Snippet.Language "matlab" }} checked {{ end }} />Matlab
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="haskell" {{ if eq .Snippet.Language "haskell" }} checked {{ end }} />Haskell
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="scala" {{ if eq .Snippet.Language "scala" }} checked {{ end }} />Scala
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="sql" {{ if eq .Snippet.Language "sql" }} checked {{ end }} />SQL
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="bash" {{ if eq .Snippet.Language "bash" }} checked {{ end }} />Bash
        </div>
        <div class="language-radio">
          <input type="radio" name="language" value="powershell" {{ if eq .Snippet.Language "powershell" }} checked {{ end }} />Powershell
        </div>
      </div>
      
    </div>

    <div>
      <button class="button" id="submit-button" type="submit" >
        Update snippet
      </button>
    </div>
  </form>
</div>
{{end}}
