{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - CodeVault</title>
    <meta
      name="description"
      content="A platform to securely store your code snippets with ease. powered by CodeVault."
    />
    <!-- keywords -->
    <meta
      name="keywords"
      content="code, snippets, code sharing, collaboration, programming, developers"
    />
    <!--  -->

    <meta name="author" content="Moses Solomon" />

    <!--  Instructs search engine crawlers on how to index the page -->
    <meta name="robots" content="index, follow" />
    <!--  -->

    <!--Open Graph Tags  Enhances how your content is displayed when shared on social media platforms like Facebook, Twitter, LinkedIn, etc. -->
    <meta property="og:title" content="{{template "title" .}} - CodeVault">
    <meta
      property="og:description"
      content="A platform to securely store your code snippets with ease, powered by CodeVault."
    />
    <meta property="og:image" content="../static/img/codevaultlogo2.png" />
    <meta property="og:url" content="https://codevault-abh8.onrender.com" />
    <meta property="og:type" content="website" />
    <!--  -->

    <!-- Twiter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{template "title" .}} - CodeVault">
    <meta
      name="twitter:description"
      content="A platform to securely store your code snippets with ease, powered by CodeVault."
    />
    <meta name="twitter:image" content="../static/img/your-image.jpg" />
    <!--  -->

    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- ICONS -->
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/img/favicon-16x16.png"
    />
    <!--  -->

    <link rel="manifest" href="../static/site.webmanifest" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/stackoverflow-dark.min.css"
    />
  </head>
  <body>
    <header class="nav-wrapper">
      <div class="logo">
        <a href="/">
          <img
            src="../static/img/codevaultlogo2.png"
            alt="code vault logo"
            class="logo-img"
          />
        </a>
      </div>
      {{template "nav" .}}
    </header>

    <main class="main">
      {{with .Flash}}
      <div class="flash"><p>{{.}}</p></div>
      {{end}} {{template "main" .}}
    </main>

    <footer class="footer-container">{{template "footer" .}}</footer>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
  <script src="../static/js/index.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</html>
{{end}}
